body {
  background-color: #1e1e1e;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: Citizen Slab;
  src: url("public/citizen_slab_personal.otf") format("opentype");
}

html {
  overflow-x: hidden;
}

* {
  font-family: "Source Code Pro", sans-serif;
}

/* Style the navbar */
#navbar {
  /* margin-top: 100px; */
  overflow: hidden;
  /* background: white; */
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  padding: 24px 120px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 180px;
  transition: all ease-in-out 0.4s;
}

#navbar.fixed {
  background: rgba(255, 255, 255, 0.8);
  height: 60px;
}

.text-background {
  /* background-color: rgba(216, 216, 216, 0.75); */
  /* padding: 10px 10px; */
  border-radius: 10px;
  margin: 0 10px;
}

#navbar .navbar-items {
  display: flex;
}

/* Navbar links */
#navbar .navbar-items a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 0.8em;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 0.3rem;
  margin: 0 0.5em;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  box-shadow: 1px 6px 12px -8px rgba(0, 0, 0, 0.6);
  transition: box-shadow ease-in-out 0.4s;
}

#navbar .navbar-items a:hover {
  box-shadow: 0 6px 10px -5px rgba(0, 0, 50, 0.9);
  background-color: rgba(242, 242, 242, 0.4);
  transform: scale3d(-1, 1, 1);
}

#navbar img {
  height: 4vh;
  width: 4vh;
  padding-left: 5px;
}

.speaker-info {
  color: white;
  position: relative;
}
.sponsor-info {
  color: black;
}

#speakers {
  height: 100%;
  margin: 80px 80px;
  display: flex;
  flex-direction: column; /* changed from flex-flow */
  align-items: center;
  justify-content: center;
  width: 100%; /* full width by default */
  max-width: 63.25vw; /* maximum width on larger screens */
  position: relative;
}

/* Media Query for Mobile Devices */
@media (max-width: 900px) {
  #speakers {
    height: auto; /* adjust height for mobile */
    max-width: 100%; /* full width on small screens */
    padding: 20px; /* add some padding */
  }
}

#speakers-header {
  width: 100%;
  text-align: center;
}

#speakers-images {
  width: 100%;
  max-height: 100%;
  text-align: center;
  display: flex;
  gap: 30px; /* Reduced the gap for better visual grouping */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 1em; /* Add some margin up top */
  margin-bottom: 30px; /* Added some space at the bottom */
}

.speaker-info:hover {
  z-index: 1000;
}

.speaker-info {
  transition: background-color 0.2s ease-in-out;
}

.speaker-img {
  width: 15vw; /* Responsive width */
  height: 15vw; /* Responsive height, keeping the aspect ratio */
  max-width: 200px; /* Maximum size */
  max-height: 200px; /* Maximum size */
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  display: block;
  margin: 1em auto;
  cursor: pointer;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: all 0.3s ease-in-out; /* Smooth transition for shadow and transform */
}

.speaker-info:hover .speaker-img {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Larger shadow on hover for a 'lifted' effect */
  transform: scale(1.05); /* Slightly scale up the images on hover */
}

.speaker-info:not(.expanded) {
  user-select: none;
}

.speaker-info.expanded .speaker-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.speaker-info.expanded .speaker-text {
  text-align: left;
}

.speaker-info .bio {
  display: none;
  visibility: hidden;
  color: black;
}

.speaker-info.expanded .bio {
  display: block;
  visibility: visible;
}

.speaker-info.expanded .name {
  color: gray;
  font-weight: bold;
  font-size: 2em;
}

.speaker-info.expanded {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: .5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  padding: 2em;
  padding-left: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.speaker-info .close {
  display: none;
  visibility: hidden;
  cursor: pointer;
}

.speaker-info.expanded .close {
  display: block;
  visibility: visible;
  background-color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
}

#schedule-section {
  display: flex;
  width: 100%;
  padding: 80px 1em;
  background-image: url(public/images/hills.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#schedule-header {
  width: 100%;
  text-align: center;
}

#schedule-header > h2 {
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  padding: .2em;
  width: auto;
  display: inline-block;
}

#schedule {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0 100px;
}

#schedule > li {
  background-color: white;
  display: block;
  padding: 2em;
  margin-bottom: 1em;
  min-width: 80%;
  max-width: 600px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  position: relative;
}

#schedule > li.meta {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3) inset;
  background-color: #f2f2f2;
}

#schedule > li:not(.meta) {
  margin-left: 2em;
}

#schedule > li:hover {
  transform: scale(1.05);
}

#schedule > li:hover .descript {
  display: block;
  z-index: 2;
}

#schedule > li a {
  color: gray;
}

#schedule > li .descript ~ .color-bar::before {
  content: 'Hover for description';
  display: block;
  font-size: .9em;
  color: gray;
  text-align: right;
  position: absolute;
  padding: 0 .5em;
  bottom: 8px;
  left: 0;
  right: 0;
  z-index: 1;
}

#schedule > li .descript {
  background-color: rgba(255, 255, 255, 0.95);
  font-size: .9em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  padding: 1em;
  transition: all 0.2s ease-in-out;
  overflow: scroll;
}

#schedule > li > .color-bar {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

#schedule .title {
  font-weight: bolder;
  font-size: 2em;
}

#schedule .who {
  font-size: 1em;
  display: block;
  color: gray;
  width: 100%;
}

#schedule .time {
  font-size: 1.5em;
  display: block;
  width: 100%;
  color: gray;
}

x p {
  margin: 0;
  font-size: 18px;
  font-weight: 200;
  color: white;
}

.bar {
  height: 100%;
  width: 0%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
  z-index: -5;
}

.image-container {
  position: relative;
  width: 100%;
  height: 900px;
  text-align: center;
}

.image-container.main-hero {
  /* background-image: url('https://bsdc.sfo2.cdn.digitaloceanspaces.com/xbanner_hero.jpg'); */
  background-image: url('https://bsdc.sfo2.cdn.digitaloceanspaces.com/glitch-hero.gif');
  width: 100%;
  min-height: 100vh;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bison-herd {
  height: 100px;
  display: block;
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
}

.bison {
  display: inline-block;
  position: absolute;
}

.container {
  display: flex;
  overflow: hidden;
}
.left-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("public/images/trees.png");
  background-size: cover;
  position: relative; /* To position the logo absolutely within this container */
  height: 955px;
}
.buffalo-logo {
  position: absolute;
  max-width: 100%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
  /* Position the logo as required, e.g., top: 20px; left: 20px; */
}
.right-column {
  flex: 1;
  padding-right: 60px;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 64px;
  overflow: scroll;
}
.about-header {
  font-size: 80px;
  font-family: "Jersey 15", serif;
  font-weight: 400;
  line-height: 57.6px;
}
.about-text {
  color: var(--Brand-Primary-P01, #1e1e1e);
  leading-trim: both;

  text-edge: cap;
  /* Body/B—01/Regular */
  font-family: "Source Code Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 32.4px */
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  color: white;
  max-width: 1000px;
}

.big-sky {
  font-family: "Citizen Slab", serif;
  font-size: 80px; /* Adjust as needed */
  color: black;
  margin-bottom: 5px;
}

.dev-con {
  font-family: "Citizen Slab", serif;
  font-size: 80px; /* Adjust as needed */
  color: white;
  background-color: black;
  padding: 10px;
  margin: 0px;
  border-radius: 10px;
  // only a little wider than content
  width: fit-content;
}

.conference-text {
  color: var(--Brand-Primary-P01, #3b324b);
  text-align: center;
  leading-trim: both;

  text-edge: cap;
  /* Headline/H—01 */
  font-family: "Jersey 15", serif;
  font-size: 90px;
  font-weight: bolder;
  /* font-style: normal; */
  font-weight: 500;
  /* line-height: 135%; 86.4px */
  /* margin-top: 10px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Citizen Slab", serif;
  font-weight: bold;
}

h1 {
  font-size: 10vw;
  font-weight: 800;
  left: 20px;
  line-height: 1;
  color: white;
}

h2 {
  font-size: 40px;
  line-height: 1;
  color: white;
}

#hero {
  display: flex;
  width: 1920px;
  max-height: 951px;
  padding: 0px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

#hero-background {
  background-image: url("public/images/cloud.png");
}

#big-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#big-logo img {
  max-width: 100%;
  /* Make the image responsive */
  height: auto;
  /* Maintain the aspect ratio */
}

#big-sky-hero-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  font-size: 18px;
  font-weight: 200;
  width: 100%;
  border-radius: 10px;
  padding: 20px 0;
  cursor: pointer;
  color: white;
}

button:hover {
  border: 1px solid white;
}

a {
  color: white;
}

.sponsor-info a {
  color: black;
}

.scroll-icon {
  height: 50px;
  width: 35px;
  border: 1px solid white;
  border-radius: 100px;
  padding: 5px 14px 20px 14px;
  box-sizing: border-box;
}

.scroll {
  height: 10px;
  width: 5px;
  border-radius: 10px;
  background-color: white;
}

.live-bar {
  background-color: #4f4f4f;
  color: white;
  overflow: hidden;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.live-bar .dot {
  display: inline-block;
  background-color: red;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  #navbar {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  #navbar .navbar-items {
    margin-top: 2em;
  }
}